{% extends 'base.html.twig' %}

{% block title %} Entrar {% endblock %}

{% block body %}
    <h1>Acceso a la aplicación</h1>
    <form method="post">
        {% if error %}
            <div class="card mb-2"><div class="card-body">Error de autenticación: {{ error.message }}</div></div>
        {% endif %}
        <input type="text" name="_username" placeholder="Usuario" value="{{ ultimo_usuario }}"{% if ultimo_usuario is empty %} autofocus="autofocus"{% endif %} required="required"/>
        <input type="password" name="_password" placeholder="Contraseña" required="required" {% if ultimo_usuario is not empty %} autofocus="autofocus"{% endif %}/>
        <button type="submit">Entrar</button>
    </form>
{% endblock %}