{% extends 'base.html.twig' %}

{% block title %} Autores {% endblock %}

{% block body %}
    <table border="1px">
        <tr>
            <th>Nombre</th>
            <th>Apellidos</th>
            <th>Fecha de Nacimiento</th>
        </tr>
        {% for autor in autores %}
            <tr>
                <td>{{ autor.nombre }}</td>
                <td>{{ autor.apellidos }}</td>
                <td>{{ autor.fechaNacimiento | date('d-m-Y') }}</td>
            </tr>
        {% endfor %}
    </table>
{% endblock %}