{% extends 'base.html.twig' %}
{% form_theme form 'bootstrap_4_horizontal_layout.html.twig' %}

{% block title %} Modificar libro {% endblock %}

{% block body %}
    {% if libro.id is null %}
        <h1>Datos del nuevo libro</h1>
    {% else %}
        <h1>Modificar los datos del libro</h1>
    {% endif %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <a href="{{ path('ap1') }}" class="btn btn-secondary">Volver</a>
        <button type="submit">Guardar</button>
    {{ form_end(form) }}
{% endblock %}